.App {
  text-align: center;
}

.show {
  border: 5px solid black;
  min-height: 100px;
  margin: 20px;
  border-radius: 20px;
}

.posts {
  border: 10px solid red;
}

.postshow {
  border: 5px solid rgb(65, 41, 204);
  margin: 20px;
  border-radius: 20px;
}

.heading {
  color: rgb(243, 192, 24);
  background-color: rgb(243, 26, 26);
}
